[2018-03-29 13:33] traversaro opened #2 "Migrate to robotology"
Ad discussed with @GiulioRomualdi and @S-Dafarra, it would be useful to move this repo to robotology .
For this, we should rename the repo to have a name compliant to robotology organization style.
@GiulioRomualdi let me know when you are ready to move (note that GitHub handles renaming quite well, so this should not be problematic in any way).

cc @DanielePucci

[2018-03-30 15:58] GiulioRomualdi commented on #2
Ok, as regarding the name of the repo what do you prefer?
1. osqp-c++;
2. osqp-eigen;
3. osqp-c++-eigen;
4. ...

[2018-03-30 16:09] traversaro commented on #2
I think `osqp-eigen` is the most descriptive one, if you want to have `c++` in the name I would go for `cxx` or `cpp` to avoid strange corner-case problems with having `+` in the package/repo name.

[2018-03-31 17:03] traversaro commented on #2
The `osqp-something` naming scheme is also compatible with the names of the repositories of osqp bindings for Python, Fortran and MATLAB: https://github.com/oxfordcontrol .

Once you are a bit confident that the API interface is stable (ish), you could propose to OSQP's authors to include the link to this Eigen interface to OSQP in the OSQP Interfaces page: http://osqp.readthedocs.io/en/latest/int

[2018-04-03 10:58] GiulioRomualdi commented on #2
Ok the name of the repository will be change into `osqp-eigen`. The `master` branch is fully tested while, in the next few days, I will write some tests for the `devel_update_matrices` branch.

[2018-04-26 12:16] S-Dafarra commented on #2
Maybe when migrating we could change ``Optimizator*`` to ``Optimizer*`` :wink: .

[2018-04-27 20:18] GiulioRomualdi commented on #2
Done! :smile:

[2018-05-15 12:01] GiulioRomualdi commented on #2
Porting can be performed when [this issue](https://github.com/loc2/component_wholebody-teleoperation/issues/88) will be closed.

[2018-06-03 23:54] ahoarau commented on #2
@traversaro You are everywhere I look ! :smiley:

Question : Isn't the default licensing for robotology LGPLv2-3 ? I'd like to use this but not put my code GPL

[2018-06-04 08:02] traversaro commented on #2
Hi @ahoarau !
Yep the software is licensed under LGPL2/3, the content of the LICENSE file will be changed soon, thanks for pointing that out.

[2018-06-08 08:24] ahoarau opened #6 "Dynamic allocations"
I'd like to integrate this library in a Xenomai setup but I'm afraid of dynamic allocations. I see some [push_back](https://github.com/GiulioRomualdi/osqp-eigen/blob/cd18d43fb0698438f7e9e9fc38d0640e498787b3/include/OptimizerSolver.tpp#L243) in the code.
I was wondering If we could take advantage of the `reserve` methods for `std::vector<>` and [eigen sparse matrices](https://eigen.tuxfamily.org/do

[2018-06-08 15:58] S-Dafarra commented on #2
Just a couple of suggestion before migrating to robotology.
Maybe it is better to rename the files from ``Optimizer*`` to ``OsqpEigen*``, to make clearer the inclusion of these files in external projects. In addition the name ``OptimizerSolver`` seems a repetition.
Another option could be to remove ``Optimizer*`` from the file name and place them all in a folder called ``OsqpEigen``, so that the i

[2018-06-11 08:52] GiulioRomualdi commented on #2
Since #5  and #7 were merged are the license was updated (now LGPL 3) we can move this repository to robotology.
@DanielePucci @S-Dafarra @traversaro

[2018-06-11 14:30] GiulioRomualdi commented on #2
I think we can close this issue.

[2018-06-11 14:33] traversaro commented on #2
Yeah!

[2018-06-11 14:33] #2 closed

[2018-06-13 08:07] traversaro commented on #6
@GiulioRomualdi What do you think about this? I think it is a good idea.

[2018-06-13 08:40] S-Dafarra commented on #6
Hi @ahoarau,
with https://github.com/robotology/osqp-eigen/pull/5 and https://github.com/robotology/osqp-eigen/commit/38825e5fbe0e1716da8aeea5c1a430f7970a5317 we have been trying to reduce memory allocation by reusing some buffers. Can you check this out? Comments are welcome :wink:

[2018-06-13 09:11] GiulioRomualdi opened #8 "Remove some old branches"
Some branches are out of date. The idea is to remove all the obsolete branches.
The following brenches will be removed:
* `devel_updated_matrices`;
* `name_refactoring`;
* `refactoring`.

@traversaro @S-Dafarra

[2018-06-13 09:28] GiulioRomualdi commented on #8
done!

[2018-06-13 09:28] #8 closed

[2018-06-13 11:20] GiulioRomualdi opened #9 "Protect master branch and use only pull request on it"
Currently, this repo is used only by @S-Dafarra and @GiulioRomualdi but, in the short time, it will be added inside the `robotology-superbuild` https://github.com/robotology/robotology-superbuild/issues/55 so others users may be interested to use it and edit it.

In my opinion, we should force using pull requests, this can be ensured enabling GitHub branch restrictions for the branch `master`  htt

[2018-06-13 11:27] traversaro commented on #9
I totally agree.

[2018-06-13 11:31] S-Dafarra commented on #9
Considering that right now only the three of us have push access and that lately I am pushing directly to ``master``, I can conclude you want to prevent me from pushing directly there :joy:. Thus, I think it is a good idea :wink:

[2018-06-13 11:42] GiulioRomualdi commented on #9
No :wink:, it is also for me. Because I don't want to change the code under your feet :smile:

[2018-06-13 11:44] traversaro commented on #9
It may be also a good eventually to setup a changelog and tag releases. I do not think we have guidelines for all the workflow, but it would make sense to write them.

[2018-06-13 15:30] ahoarau commented on #6
It also says that it is the only place where they perform memory allocations in the solver.
Like qpOASES, you need to `setup` (allocs) and then `solve` (no allocs).
So I believe that `createOsqpSparseMatrix` would only be called once before the `osqp_setup` function, and then all the functions called would be to update the said matrices

[2018-06-15 09:48] GiulioRomualdi commented on #9
It should be also nice to use `travis` to autogenerate the documentation, I have tried to follow [this tutorial]( https://github.com/robotology/how-to-document-modules/blob/master/auto_doc/README.md) but I have to add a new deploy key to this repository and I don't know if it is a good idea.

[2018-06-15 10:05] traversaro commented on #9
I think @diegoferigo is an expert on this. Personally I never liked generating the doxygen docs from travis because I was never been able to deal with the amount of configuration necessary. I have a few alternatives for that, but I think it would take a few weeks to set them up.

[2018-06-15 12:08] diegoferigo commented on #9
@GiulioRomualdi  It is fairly easy to setup travis for pushing using **[tokens](https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/)**. Have a look [here](https://github.com/robotology/wb-toolbox/blob/88c48299b0de34c2915087b7f3a25083c09abc56/.travis.yml#L164-L213) for a reference.

This works fine if you have a CMake target that generates the documentation as [r

[2018-07-26 20:48] traversaro opened #10 "Update travis script to handle new installation procedure of osqp + qldld"
I guess `git clone --recursive` is now necessary.

[2018-07-29 22:44] traversaro commented on #10
Related : https://github.com/oxfordcontrol/osqp/pull/82 .

[2018-09-28 04:18] GiulioRomualdi commented on #10
Solved by #11

[2018-09-28 04:18] #10 closed

[2018-10-05 15:57] GiulioRomualdi opened #12 "Migrate Travis to use docker to test on recent linux distributions"
Since the current GNU/Linux distribution supported by Travis is outdated (Ubuntu Trusty), we should update the Travis script to test the library on Ubuntu Xenial or Bionic via docker.

Related to https://github.com/robotology/robotology-superbuild/issues/96

[2018-10-05 16:16] traversaro commented on #12
A simple example including only Ubuntu can be found in https://github.com/robotology/sdf-modelica/pull/18 .

[2018-10-11 12:58] S-Dafarra opened #13 "The BUILD_TESTING option should be by default OFF"
The option ``BUILD_TESTING`` should be ``OFF`` by default (https://github.com/robotology/osqp-eigen/blob/master/CMakeLists.txt#L110) in order to avoid ``cmake`` errors when compiling from a clean setup where ``GTEST`` suite is not installed.

[2018-10-22 20:02] #13 closed

[2018-11-12 09:40] #12 closed

[2019-01-18 18:02] joaospinto opened #16 "Support for runtime-determined matrix sizes"
Some of your functions currently require that the problem sizes be determined at compile time, e.g. `setPrimalVariable` or `setWarmStart`. This is perhaps too strict; there might be ways of dropping this requirement and still not doing more dynamic memory allocations. See [this](https://eigen.tuxfamily.org/dox/TopicFunctionTakingEigenTypes.html).

[2019-01-19 00:18] GiulioRomualdi commented on #16
Hi @joaospinto thanks for using `osqp-eigen`

The library wants to be a simple wrapper to `osqp` and so we try to reduce the memory allocation (matrices and vectors). However in the initialization phase (e.g. [here](https://github.com/robotology/osqp-eigen/blob/7109a226f0cc6dd7d01eb912561e9a0e9eb1d57a/example/src/MPCExample.cpp#L260)) the Hessian matrix is saved inside the `data` structure of `osq

[2019-01-21 23:03] joaospinto commented on #16
@GiulioRomualdi That makes sense. I actually only had issues with the bound vectors; I somehow assumed that the same issue would exist with the matrices, so I made sure they would not go out of scope as well, but had not double checked. Thanks for clarifying! Also, thanks for writing this library, you probably saved me a couple of days of work.

[2019-02-04 11:22] GiulioRomualdi opened #17 "Consider the possibility to store the gradient and the bounds vectors inside the library"
As pointed by @joaospinto in #16, it is not clear how the ownership of the optimization elements (matrices and vector) are handled.

As already explained in https://github.com/robotology/osqp-eigen/issues/16#issuecomment-455728243, `osqp` itself stores the hessian and the constraint matrix into its data structure. While, on the other hand, the vectors are not saved inside the osqp library and so t

[2019-02-04 11:37] S-Dafarra commented on #17
I think that the problem is related to the fact that in https://github.com/robotology/osqp-eigen/blob/master/include/OsqpEigen/Data.hpp#L94 and in https://github.com/robotology/osqp-eigen/blob/master/include/OsqpEigen/Data.hpp#L110 it is required a non-const reference. This is a source of confusion given that they are setter methods, where you don't expect the input to be modified, i.e. this (http

[2019-02-05 10:08] GiulioRomualdi opened #18 "cmake is not able to find Eigen3 on Windows"
I'm trying to compile the repository on Windows and seems that the cmake is not able to find `Eigen3`. I think that the problem can be easily solved by adding [`FindEigen3.cmake`](https://github.com/robotology/idyntree/blob/master/cmake/FindEigen3.cmake) in the cmake folder

@S-Dafarra and @traversaro

[2019-02-05 15:08] #18 closed

[2019-02-15 08:32] chibi314 opened #21 "API of getting dual solution"
Hi.

I'd like to get the dual solution (y), but couldn't find the API.
In [Solver.hpp](https://github.com/robotology/osqp-eigen/blob/master/include/OsqpEigen/Solver.hpp), there's `getDualSolution` API which gives `m_workspace->solution->x`.
I also want to get `m_workspace->solution->y`.

Thanks!

[2019-02-16 06:37] chibi314 commented on #21
Can I send a PR about this?

[2019-03-05 21:08] GiulioRomualdi commented on #21
Hi @chibi314! Thank you very much! You can open the PR

[2019-04-02 19:45] MonkeyDied opened #22 "Change template function definition to support Visual Studio"
When compiling the mpc example using VS2013 on Win10, the following error occurred.

After some testing I found that it seems to be a problem with the template parsing for functions of the following form.
`template<int n> ret_type some_function(Eigen::Matrix<c_float, n, 1>& arg)`

This could be remedied by changing the definition to the following.
`template<class T, int n> ret_type some_function(E

[2019-04-05 15:02] GiulioRomualdi commented on #22
Hi @MonkeyDied, first of all, thanks for using `osqp-eigen`.
Regarding your question, I think that the problem is related to the _template argument deduction_. Can you copy the lines of the code that cause the issue?

[2019-04-05 17:21] MonkeyDied commented on #22
@GiulioRomualdi The following are the definitions of the functions that cause the issue.

https://github.com/robotology/osqp-eigen/blob/a74f46f90f6f93d0b125909ce54930a66e023412/include/OsqpEigen/Data.hpp#L93-L94

https://github.com/robotology/osqp-eigen/blob/a74f46f90f6f93d0b125909ce54930a66e023412/include/OsqpEigen/Data.hpp#L104-L118

https://github.com/robotology/osqp-eigen/blob/a74f46f90f6f93d0

[2019-04-05 18:00] GiulioRomualdi commented on #22
Hi @MonkeyDied, I was referring to your code :smiley:

[2019-04-05 20:47] MonkeyDied commented on #22
Hi @GiulioRomualdi , I encounter the problem when compiling the MPCExample using Visual Studio 2013 in Win10. The Eigen version is 3.3.5. osqp version is 0.5.0.

The following codes produce a compile time fatal error C1001 as described in the first post.
(The setLinearConstraintsMatrix function works fine)

https://github.com/robotology/osqp-eigen/blob/a74f46f90f6f93d0b125909ce54930a66e023412/exam

[2019-04-08 17:00] GiulioRomualdi commented on #22
Can you try to edit the lines in the following way?

[code]

and
[code]

[2019-04-08 17:16] MonkeyDied commented on #22
Hi @GiulioRomualdi , that seems to solve the problem.

[2019-04-08 17:17] GiulioRomualdi commented on #22
Nice! I'll fix it!

[2019-04-16 16:16] GiulioRomualdi commented on #16
cc @miladShafiee

[2019-04-16 16:30] GiulioRomualdi commented on #22
Hi @MonkeyDied this PR (#24 ) should solve your problem. Let me know if you have still problems.

[2019-07-12 14:48] stribor14 opened #26 "Unexplained error "upper bound must be greater than or equal to lower bound""
I know what error means, but I don't know why it's happening.
Here is an example of my up/lo bounds (they are a lot bigger than this example but somewhat similar in composition). In a class constructor, I prepare two matrices and fill them with data that is constant (`RES` = reserved for later):
[code]

Before every new solving step, I update `RES` to the current condition. Identical values in bot

[2019-07-12 15:04] S-Dafarra commented on #26
Hello @stribor14!

Notice that the error you are mentioning is actually thrown by ``osqp`` itself, in particular, in these two lines:
- https://github.com/oxfordcontrol/osqp/blob/7b33ad2c0aac71bdfc107a2ca139ee67c9addde6/src/osqp.c#L802
- https://github.com/oxfordcontrol/osqp/blob/7b33ad2c0aac71bdfc107a2ca139ee67c9addde6/src/osqp.c#L856.

My guess is that when you are updating the bounds, you are d

[2019-07-15 12:25] stribor14 commented on #26
Thank you for your reply! Calling the update through `updateBounds` fixed the problem. I think this can be closed since it's not really an issue.

I had the same reasoning as you for why this message could be happening, but now looking at their (osqp) code, I see the source of my confusion. When updating the lower bound you get a message "Upper bound must ..." and vice versa, which is a bit ambigu

[2019-07-15 12:25] #26 closed

[2019-07-25 19:59] sciencectn opened #27 "‘OSQPWrapper’ has not been declared"
I'm trying to build the tests and I'm getting this error:

[code]
I can't find any mention of OSQPWrapper in this repo or in [osqp](https://github.com/oxfordcontrol/osqp).

I also had to change `#include <osqp.h>` to `#include <osqp/osqp.h>` everywhere in order to get it to build.

[2019-07-26 14:35] GiulioRomualdi commented on #27
Hi @sciencectn, first of all thanks for using `osqp-eigen`.
As regards your question the `tests` were not designed for being built outside the main project.  You can compile it by enabling the flag `BUILD_TESTING` with the `cmake` command

[2019-07-26 15:48] sciencectn commented on #27
Thanks for the reply.

I did use the `BUILD_TESTING` flag. I didn't move `tests` outside of osqp-eigen, if that's what you mean by "main project". There seems to be an undefined symbol `OSQPWrapper` and I can't find its definition anywhere.

[2019-07-26 16:02] GiulioRomualdi commented on #27
Regarding `OSQPWrapper` this it is a leftover of an old version of `osqp-eigen`. I'm opening a PR that should fix the problem

[2019-07-26 16:11] GiulioRomualdi commented on #27
This is the PR I was referring to: https://github.com/robotology/osqp-eigen/pull/28 You can check if this solves your problem

[2019-07-26 21:06] sciencectn commented on #27
Thanks!

It works now but I got a **lot** of deprecation warnings:

[code]

[2019-07-27 09:54] GiulioRomualdi commented on #27
Hi @sciencectn, the warnings are due to the changing of the API of the library. As soon as devel will be merged on master the warnings will desappear

[2019-07-30 14:26] stribor14 opened #29 "Matlab S-function freeze"
Hello.

I've hit a roadblock of sorts with this library. Usecase is following, I've implemented an MPC controller as a library and tested it with an ideal plant written in C++ (no noise, ideal delay, etc), and everything works fine. But for a more real use-case, we have a Simulink model so I've written s-function level 2 wrapper for the MPC controller. Every time I run the simulation, it works fin

[2019-07-30 14:30] traversaro commented on #29
Hi @stribor14 ,
  * On which operating system are you experiencing this problem?
  * With which osqp/osqp-eigen/Eigen commit?
  * With which MATLAB version?

Just a curiosity: do you have a [Short, Self Contained and Compilable Example](http://sscce.org/)?

[2019-07-30 14:48] stribor14 commented on #29
- Ubuntu 18.04.2
- osqp is on commit 8949e67
- osqp-eigen is on current master
- Eigen is from 18.04.2 official repo (eigen3 v3.3.4-4)
- Matlab R2019a

Sadly, I cannot share an example, but If I don't figure this out, I'll try to create a new one (which might also help me if I figure out how to produce this behavior)

Tomorrow I'll try running Matlab in gdb and see if there is an infinite loop occ

[2019-07-31 14:05] stribor14 commented on #29
Hi @traversaro ,

I think I found the problem, but I would like your thoughts on it. All matrices I give to update functions are class members variables (not pointers):
[code]

After debugging, I noticed that Matlab hangs when trying to clean up memory, so I removed P-value delete (intentionally introduced memory leak). Now everything works as intended.

My reasoning is that when I call `updateSom

[2019-07-31 15:35] stribor14 commented on #29
Problem solved :)

In MPC class constructor, I had solver initialization (it should be noted that all of the matrices are initialized but still empty at this point):
[code]
Then, in function call to get a new solution, I recalculate new matrices and update solver with them:
[code]
But, when this function is called first time, sparsity pattern changes and osqp-eigen has to create new solver. On all

[2019-08-31 23:25] GiulioRomualdi opened #31 "osqp-eigen not compatible with osqp 0.6.0"
`osqp-eigen` is not compatible with the latest version of `osqp` (0.6.0)  https://github.com/oxfordcontrol/osqp/pull/170
The incompatibility is caused by the following two commits:

1.  https://github.com/oxfordcontrol/osqp/commit/78d11351555d6d4b0445a8d65d1066bb47df3b00 `osqp_setup` now returns an exit flag instead of `OSQPWorkspace*`
[code]

2. https://github.com/oxfordcontrol/osqp/pull/170/comm

[2019-09-23 13:42] GiulioRomualdi commented on #27
Fixed in #28

[2019-09-23 13:42] #27 closed

[2019-09-23 13:43] GiulioRomualdi commented on #22
Fixed in #24

[2019-09-23 13:43] #22 closed

[2019-09-24 09:01] #31 closed

[2019-10-29 10:21] #21 closed

[2019-10-29 10:25] chibi314 opened #36 "Warning of the MPC example compilation"
Hi.
When I compile the MPC example, there appears lots of warnings.
The following is one of them.

[code]

What is the best way to cope with this warning?
And what is the best way to convert `Eigen::Dense` matrix to `Eigen::SparseCompressedBase` matrix?

[2019-10-30 09:02] chibi314 opened #37 "Deleted move constructor of Solver"
https://github.com/robotology/osqp-eigen/blob/master/include/OsqpEigen/Solver.hpp
The move constructor of class Solver is implicitly deleted.
Therefore the instance of Solver is unable to move.
Is there any reason of forbidding move operation?
If no, can I add default move constructor?

[2019-11-24 09:30] LiJiangnanBit opened #38 "How to set run time limit?"
Is there any setting for time limit, like the original osqp setting?
![image](https://user-images.githubusercontent.com/23288471/69492610-dd35ae00-0edf-11ea-855b-8aaa11fef928.png)
usually it takes longer if the solver fails. I want to set a limit for run time.
Thanks!

[2019-12-03 09:29] xmba15 commented on #36
If you just want to get rid of the warnings, maybe you can just apply a pragma flag to temporarily ignore them.
[code]

[2019-12-03 09:30] xmba15 commented on #36
Supposed that you are using gcc or clang for as your compiler.

[2019-12-04 19:57] ChiZhangCyngn opened #39 "setHessianMatrix is deprecated"
Hi dear developers, I met the following error when I am working on a MPC problem with osqp-eigen. I followed the example to build the QP problem.
[code]
Do you know why I get this error?

[2019-12-24 18:55] psarahdactyl opened #40 "Target links to target "OSQPEigen::OSQPEigen" but the target was not found."
I followed the installation instructions in the README and have pointed cmake to the install directory:

`export OsqpEigen_DIR=/usr/local/lib/cmake/OsqpEigen/`

In my cmake I have:
[code]

but it tells me the target "OSQPEigen::OSQPEigen" was not found.

I am using MacOS 10.15.1

[2019-12-24 19:21] psarahdactyl commented on #40
Edit: so it turns out I needed to use the case sensitive "OsqpEigen"
I feel stupid, but this mistake did come from the [fork](https://github.com/GiulioRomualdi/osqp-eigen) where I used "OSQPWrapper" instead. It took me a little bit to realize I needed to change the target names from OSQPWrapper to OSQPEigen, and then it obviously didn't work because of the case.

[2019-12-24 19:21] #40 closed

[2020-01-14 14:21] GiulioRomualdi commented on #37
Hi @chibi314 sorry for the late response, I completely forgot the issue. There is no reason. I will add it along with the `copy constructor`, `copy assignment operator` and `move assignment operator` in the next future.

[2020-01-27 14:49] GiulioRomualdi opened #43 "Propagate osqp dependency to consumer applications"

[2020-01-28 14:28] #43 closed

[2020-01-30 11:03] chibi314 opened #45 "My commit is deleted"
I send a PR #25 and it was merged into `devel`, but now I couldn't find it in `devel` and `master`.

[2020-01-30 13:56] nunoguedelha opened #46 "Properly checkouting git submodules in a given repo"
This is is not to point out a real issue, but more a heads up and to verify with you, @GiulioRomualdi , @traversaro , that we are doing the same thing when selecting a given commit of a repo containing git submodules. Let's consider the example of https://github.com/oxfordcontrol/osqp.git (I open the issue here because of `osqp` being an external repo obviously):
- if we checkout the branch `maste

[2020-01-30 14:01] traversaro commented on #46
I am not really sure what CMake's ExternalProject does internally, but at least for the robotology-superbuild on a clean build (so no subsequent tag changes), it seems that the correct version of qdldl is used.

[2020-01-30 14:32] GiulioRomualdi commented on #45
Dear @chibi314, I am investigating. I'll answer soon

[2020-01-30 14:42] nunoguedelha commented on #46
So there would be a problem only if we first clone master then checkout an earlier commit. I get it.

[2020-01-30 14:45] nunoguedelha commented on #46
As a side note, `git submodule update --recursive` will checkout the proper commit of the submodule. I was reading this tutorial: https://git-scm.com/book/en/v2/Git-Tools-Submodules.

[2020-01-30 16:53] GiulioRomualdi commented on #45
Seems that a cleanup has removed your commits. I am kindly asking you to open a new PR on `devel` with the code updating the [project version](https://github.com/robotology/osqp-eigen/blob/master/CMakeLists.txt#L30) to `0.5.103`.

[2020-01-31 12:32] GiulioRomualdi commented on #37
Hi @chibi314 #47 should solve your issue

[2020-02-06 10:06] #37 closed

[2020-02-06 10:06] #39 closed

[2020-02-06 10:07] GiulioRomualdi commented on #36
Solved thanks to #48

[2020-02-06 10:07] #36 closed

[2020-02-06 11:28] S-Dafarra commented on #45
To be honest, I do not know how this could have happened. It is possible that some rebase caused that commit to be deleted. I apologize for that.

I have branched and rebased the branch https://github.com/chibi314/osqp-eigen/tree/add_get_dual_solution and opened a PR: https://github.com/robotology/osqp-eigen/pull/50

[2020-02-06 13:38] kouroshD opened #51 "fails building the master branch"
master branch fails with the following error:
[code]
@GiulioRomualdi

[2020-02-06 13:40] S-Dafarra commented on #51
Which version of ``osqp`` do you have installed?

[2020-02-06 14:05] S-Dafarra commented on #38
Hello @LiJiangnanBit, sorry for the late answer.

Actually you can already through ``getSettings()``, i.e.
[code]

I did not test this code though, there may be some imprecision.
In the meanwhile, I also opened a PR to add a ``setTimeLimit`` method to the ``Settings`` class: https://github.com/robotology/osqp-eigen/pull/52

[2020-02-06 14:57] kouroshD commented on #51
thank you @S-Dafarra . The problem is resolveed. My osqp version was old, I have updated that and it builds.

[2020-02-06 14:57] #51 closed

[2020-02-06 14:58] S-Dafarra commented on #51
For future references, this is the result of this issue: https://github.com/oxfordcontrol/osqp/issues/195

[2020-02-07 08:58] S-Dafarra commented on #45
The PR #50 has been merged. I think we can close this issue.

[2020-02-07 08:58] #45 closed

[2020-02-07 15:20] LiJiangnanBit commented on #38
Thanks 😊

[2020-02-07 15:20] #38 closed

[2020-03-03 16:47] NUDTUGVexplorer commented on #6
when I run the example MPCExample.cpp
it has a error: Segmentation fault (core dumped).
Then I debug the program, it shows the  error in the following lines.

 solver.settings()->setWarmStart(true);

how to solve the issue? Thanks a lot.

[2020-03-03 17:11] NUDTUGVexplorer opened #53 "Segmentation fault (core dumped)"
When I run the example MPCExample.cpp
it has an error: Segmentation fault (core dumped).
Then I debug the program, it shows the error in the following lines.

solver.settings()->setWarmStart(true);

how to solve the issue? Thanks a lot.

[2020-03-03 18:37] S-Dafarra commented on #53
Hi @NUDTUGVexplorer,
can you give us some more information about your system?  For example:
- OS you are currently using
- ``osqp-eigen`` version
- ``osqp`` version
- Did you change some of the default ``cmake`` configurations?

[2020-03-04 00:20] NUDTUGVexplorer commented on #53
1.OS: ubuntu 14.04 LTS gcc version 4.8.4
2.osqp-eigen: I just git from your repo on March 1st, 2020.
3.osqp: OSQP v0.5.0  -  Operator Splitting QP Solver
4. I didn't change the cmake configurations.
Thanks!

[2020-03-04 02:23] NUDTUGVexplorer commented on #53
make test, the results are as follows:
Running tests...
Test project /home/lxh/software/osqp-eigen-master/build
    Start 1: SparseMatrixTest
1/5 Test #1: SparseMatrixTest .................   Passed    0.01 sec
    Start 2: QPTest
2/5 Test #2: QPTest ...........................***Exception: SegFault  0.12 sec
    Start 3: UpdateMatricesTest
3/5 Test #3: UpdateMatricesTest ...............***Excepti

[2020-03-04 08:33] S-Dafarra commented on #53
Indeed, the reason is exactly this one:
[code]
The ``make_unique`` has been implemented in gcc starting from version 4.9.0: https://isocpp.org/blog/2014/04/gcc-4.9.0. I am afraid your compiler is not supported.

By commenting out the lines https://github.com/robotology/osqp-eigen/blob/master/src/Solver.cpp#L23-L24 you are not allocating the ``Settings`` and ``Data`` object, causing the segfault.

[2020-03-04 15:15] NUDTUGVexplorer commented on #53
Thanks for your help. After I update the gcc and g++ version to be 4.9.4. Now it woks. I appreciate your kind help.

[2020-03-18 09:13] #53 closed

[2020-05-13 12:12] S-Dafarra opened #55 "Compilation error of tests"
This is the error I get:
[code]
I am on Ubuntu 20.04.

[2020-05-13 16:26] #55 closed

[2020-05-14 07:13] GiulioRomualdi opened #58 "Drop Google test in favor of Catch2"
`Google Test` from the next releases will start to depend on `abseil`, see [here](https://github.com/google/googletest/blob/master/README.md#coming-soon). `Abseil` is a quite big  C++ library that is not packaged in Ubuntu or Homebrew (see https://repology.org/project/abseil-cpp/versions), and will make `Google Test` a non-trivial dependency to obtain. On light of this I would propose moving from

[2020-05-14 07:17] S-Dafarra commented on #58
Agree!

[2020-05-14 13:36] GiulioRomualdi commented on #58
Closed with #59

[2020-05-14 13:36] #58 closed

[2020-05-14 15:11] S-Dafarra opened #61 "Devel breaks idyntree::optimal_control"
The first error is the following
[code]
which can be easily solved by changing https://github.com/robotology/osqp-eigen/blob/devel/CMakeLists.txt#L110
to
[code]
but if I try to compile again I get the following error
[code]

It seems weird since ``Eigen3::Eigen`` should be added when finding ``Eigen3``.

@GiulioRomualdi @traversaro

[2020-05-14 15:48] traversaro commented on #61
I suggest to do `list(APPEND OSQP_EIGEN_EXPORTED_DEPENDENCIES osqp "Eigen3 CONFIG")`, as otherwise if you do a `find_dependency(Eigen3 REQUIRED)` in an arbitrary project you never know if this will use a local `FindEigen3.cmake` or the Eigen3Config.cmake file (that I guess it is what is happening).

[2020-05-14 15:49] traversaro commented on #61
Indeed, the local `FindEigen3.cmake` of iDynTree does not define a target `Eigen3::Eigen` , and that is what is happening.  While we could fix the iDynTree FindEigen3.cmake file, this would just hide the problem that could occur also elsewhere.

[2020-05-14 15:57] S-Dafarra commented on #61
Awesome! That fixes the issue. I'll open a PR for this.

It is already happening now ``whole-body-estimators`` fails with
[code]

I guess that ``idyntree_optimal_control`` is the was the responsible of having ``Eigen`` available when linking ``${iDynTree_LIBRARIES}`` (my bad :grin:).

[2020-05-14 16:13] S-Dafarra commented on #61
And ``walking-controllers`` :sweat_smile:
[code]

[2020-05-14 16:35] S-Dafarra commented on #61
Related PRs:
- https://github.com/robotology/osqp-eigen/pull/62
- https://github.com/robotology/whole-body-estimators/pull/68
- https://github.com/robotology/walking-controllers/pull/62

[2020-05-15 07:07] GiulioRomualdi commented on #61
Since #62 has been merged, I think we can close this issue

[2020-05-15 07:09] traversaro commented on #61
Not sure about what is happening, but it is still failing on some jobs of the robotology-superbuild: https://pipelines.actions.githubusercontent.com/ZuyQm6ovz1ad02r7CsxwF1VdDAwrcBAjuVSwcIMiZZdLCwGhMg/_apis/pipelines/1/runs/701/signedlogcontent/5?urlExpires=2020-05-15T07%3A09%3A33.0280901Z&urlSigningMethod=HMACV1&urlSignature=6Yt4BfHVE4O7qmch%2FDc4gRKS%2FAV1qKNVhUiIV%2F6Mvmw%3D .

[2020-05-15 08:03] GiulioRomualdi commented on #61
Seems that it's failing on Debian. Do you think that the  `Eigen3Config.cmake` is not shipped with the `Eigen` installed in that distro?

[2020-05-15 08:12] traversaro commented on #61
I saw that it was also failing on Ubuntu 20.04, but you don't see because as soon as one job fails it halts the other. However, `Eigen3Config.cmake` is shipped there: https://packages.debian.org/sid/all/libeigen3-dev/filelist . I wonder if there is some weird CMake problem that affects only a specific CMake version.

[2020-05-15 09:20] S-Dafarra commented on #61
I have ``CMake`` 3.16.3 on Ubuntu 20.04. It compiles with the following setup
[code]

[2020-05-15 09:21] GiulioRomualdi commented on #61
I tried to run a clean Docker image with the scripts in https://github.com/robotology/robotology-superbuild/tree/master/.ci and everything is working. Noticed I used `osqp-eigen` devel

[2020-05-15 09:39] traversaro commented on #61
Indeed I was wrong, the only failure is just on Debian Sid: https://github.com/robotology/robotology-superbuild/pull/408 . In theory CMake 3.16.3 is the one used on both Debian Sid and Ubuntu Focal, so the issue could be more tricky. For now @GiulioRomualdi @S-Dafarra feel free to ignore the problem (we can also close this issue), in the weekend I will probably spin a Debian Sid image on Docker or

[2020-05-15 13:22] GiulioRomualdi commented on #61
I also tried with a clean version of `Debian` everything seems ok

[2020-05-15 13:30] traversaro commented on #61
This confirms that probably there is something due to a new package that is just on Debian sid. In practice no one uses Debian sid, but I placed that build exactly to catch this kind of errors before they arrive to system we actually uses (Debian Stable or Ubuntu LTS). However, for now we ignore it.

[2020-05-15 17:16] traversaro commented on #61
Sorry for the noise, the CI failure is indeed in `debian:stable` docker image, not `debian:sid` .

[2020-05-15 19:53] traversaro commented on #61
So, the problem is on Debian Stable because by default Debian Stable uses CMake 3.13, and in CMake 3.13 `find_dependency(Eigen3 CONFIG)` does nothing if `Eigen3_FOUND` is already defined and set to TRUE, and in our case it was already defined by the `FindEigen3.cmake` script that did not defined the `Eigen3::Eigen` imported target. In any case, devising a workaround for this problem is probably no

[2020-05-15 20:02] traversaro commented on #61
Final fix proposed in https://github.com/robotology/idyntree/pull/691 .

[2020-06-12 12:42] GiulioRomualdi commented on #61
robotology/idyntree#691 fixes the problem. So I close this issue. Feel free to reopen it again.

[2020-06-12 12:42] #61 closed

[2020-07-25 18:46] mzahana opened #67 "osqp.h: No such file or directory #include <osqp.h>"
Hi.

I installed `osqp` from source as described [here](https://osqp.org/docs/get_started/sources.html). Then, I installed `osqp-eigen`. I installed both system wide.

I am using `catkin build` to build my applications. In my CMakeLists.txt, I set the following,
[code]

I use the following include in my header file
[code]

When I try to compile, I get
[code]

Any advice on how to solve this issue?

[2020-07-25 19:26] S-Dafarra commented on #67
Hi @mzahana, thanks for using ``OsqpEigen``. My best guess at the moment would be to try linking ``osqp::osqp`` in your application using [``target_link_libraries``](https://cmake.org/cmake/help/v3.12/command/target_link_libraries.html) in your ``CMakeLists``. If you have any link to your application, we may try to provide more insights.

[2020-07-25 22:17] mzahana commented on #67
@S-Dafarra thank you for your reply. I did that and still getting the error

This is what I use in the `CMakeLists`
[code]

The error looks like:
[code]

[2020-07-25 22:31] mzahana commented on #67
So, I got it compiled by having `OsqpEigen` in `find_package()` in the following way
[code]
It compiled without having to link `osqp::osqp`

Up to now, I just included the `#include <OsqpEigen/OsqpEigen.h>`. Didn't do anything else as I wanted to make sure the include is OK.

[2020-07-26 07:51] S-Dafarra commented on #67
Sounds good! Then probably ``OsqpEigen::OsqpEigen`` was missing as a target to link.

[2020-07-27 21:43] mzahana commented on #53
@S-Dafarra I am facing the same issue `Segmentation fault (core dumped)`. I am using Ubuntu 18 with `g++` and `gcc` version `7.5.0` . I am compiled `osqp` from source as described [here](https://osqp.org/docs/get_started/sources.html).

The following lines execute with no errors:
[code]
However, I get the segmentation fault error when the following is executed
[code]

I made sure that dimensions o

[2020-07-27 23:20] mzahana commented on #53
Can the `OsqpEigen::Solver obj;` be a class member? It seems to ave an issue when I use it inside a class as a class member.

[2020-07-27 23:28] mzahana commented on #53
Problem is solved. It was a silly mistake that I didn't `initSolver()` !

[2020-07-31 08:44] S-Dafarra commented on #67
@mzahana if this is no more an issue, feel free to close it.

[2020-07-31 15:23] #67 closed

[2020-08-13 08:34] takeoffstd opened #68 "error: cannot convert ‘OSQPWorkspace**’ to ‘const OSQPData*’ for argument ‘1’"

[2020-08-13 14:52] #68 closed

[2020-09-28 02:21] wzkwzk123 commented on #68
i have the same problem. Can you tell me the solution to it??

[2020-11-13 17:24] Richard-LXA opened #70 "when i build this project, this error occurs. My osqp is version 0.4.1."
make
Scanning dependencies of target OsqpEigen
[ 25%] Building CXX object CMakeFiles/OsqpEigen.dir/src/Data.cpp.o
[ 50%] Building CXX object CMakeFiles/OsqpEigen.dir/src/Settings.cpp.o
[ 75%] Building CXX object CMakeFiles/OsqpEigen.dir/src/Solver.cpp.o
/home/ruoyo/Apps/osqp-eigen/src/Solver.cpp: In member function ‘bool OsqpEigen::Solver::initSolver()’:
/home/ruoyo/Apps/osqp-eigen/src/Solver.cpp:

[2020-11-13 17:27] traversaro commented on #70
Which version of OSQP are you using? Which version of osqp-eigen?

[2020-11-13 17:28] traversaro commented on #70
Sorry, I did not see the title. I guess that the master branch is not compatible with OSQP 0.4.1 , I guess you should try the appropriate version: https://github.com/robotology/osqp-eigen/releases/tag/v0.4.1 .

[2020-11-13 17:29] Richard-LXA commented on #70
i use OSQP version 0.4.1 , because i dont know why i cant use the latest OSQP version.

[2020-11-13 17:29] Richard-LXA commented on #70
thx bro , i'll try

[2020-11-13 17:36] #70 closed

[2020-11-14 04:57] Richard-LXA opened #71 "when i build my project , it shows that it cant find osqg.h"
In file included from /usr/local/include/OsqpEigen/OsqpEigen.h:10:0,
                 from /home/ruoyo/car/nav_ws/src/trajectory_planning/src/hard_constrained/trajectory_corridor-based.cpp:6:
/usr/local/include/OsqpEigen/Constants.hpp:12:10: fatal error: osqp.h: No such file or directory
 #include <osqp.h>
          ^~~~~~~~
compilation terminated.
CMakeFiles/CTG.dir/build.make:62: recipe for targ

[2020-11-14 05:41] #71 closed

[2020-11-19 11:17] kalj opened #74 "Add possibility (e.g. cmake flag) to disable or redirect error output"
Currently, there are hard coded unconditional error messages using `std::cerr` which cannot be disabled. It would be great if it would be possible to disable them, or perhaps define your own log callback which is invoked to print the messages. This would allow an application using `osqp-eigen` to incorporate these error messages in whatever logging framework it prefers.

[2020-11-19 13:31] S-Dafarra commented on #74
Hi @kalj, thanks a lot for the suggestion. It makes definitely sense. It is something we did not consider while developing it. Also, feel free to open a PR for it.

cc @GiulioRomualdi

[2020-11-30 10:23] Richard-LXA opened #76 "why i set a hard problem, it can be solved, while i set a very easy problem(0,0,0,0,0,.....), it cant be solved , and the estimate get larger and larger"
iter objective pri res dua res rho time
1 0.0000e+00 1.00e+00 1.40e+12 1.00e-01 4.63e-04s
200 1.2286e+11 2.24e+00 9.29e+10 5.14e-01 1.47e-03s
400 1.1636e+11 2.24e+00 2.62e+11 2.91e+00 2.34e-03s
600 1.2547e+11 2.24e+00 9.66e+10 2.91e+00 3.17e-03s
800 1.1924e+11 2.24e+00 2.94e+11 2.91e+00 3.97e-03s
975 1.0000e+20 2.24e+00 3.04e+11 2.91e+00 4.68e-03s

status: primal infeasible
number of iterations: 9

[2020-11-30 10:24] Richard-LXA commented on #76
the answer should just be all zero

[2020-11-30 10:33] S-Dafarra commented on #76
Hi @Richard-LXA, could you provide more details on the problem you are trying to solve?

[2020-12-03 07:32] Tengyun-Mo opened #77 "Can I use osqp-eigen on Windows10 with QT?"
When I make the project,I got this :
`make: No targets specified and no makefile found.`
but cmake is ok.
[code]

[2020-12-03 07:42] traversaro commented on #77
Hi @Tengyun-Mo !
From the error messages it seems that you are on Windows, and on Windows if you do not specify the [cmake generator](https://stackoverflow.com/questions/25941536/what-is-a-cmake-generator) the default generator is the Visual Studio one. To build `osqp-eigen` in that case, then you need to open the generated project with Visual Studio, or just execute `cmake --build . --config Rele

[2020-12-03 07:44] S-Dafarra commented on #77
Also, if you are using "Qt Creator" as IDE, make sure to select the target ``ALL_BUILD`` instead of ``all``, see https://bugreports.qt.io/browse/QTCREATORBUG-24861?page=com.googlecode.jira-suite-utilities%3Atransitions-summary-tabpanel

[2020-12-04 00:52] Tengyun-Mo commented on #77
Thanks for your response.I have fixed this problem by steps as follows:
1. git clone https://github.com/robotology/osqp-eigen.git
2. cd osqp-eigen
3. mkdir build && cd build
4. cmake -G "MinGW Makefiles" ..
5. make --build .
6. cmake --build . --target install

[2020-12-04 00:53] #77 closed

[2020-12-04 03:48] Tengyun-Mo opened #79 "Can't build successfully."
I can't build project when I add source code of osqp-eigen to my project. my .pro file is as follows:
[code]
[code]

[2020-12-04 06:55] Tengyun-Mo commented on #79
The libosqp.a is 64-bit,and I make the project by mingw32.

[2020-12-04 06:55] #79 closed

[2021-01-11 12:04] lovebugayy opened #80 "when operator slover class, an error occured, it shows that there is a undefined reference"
CMakeFiles/main.dir/main.cpp.o：in the function‘testQP()’：
main.cpp:(.text+0x5b5)：for‘OsqpEigen::Solver::Solver()’an undefined reference
CMakeFiles/main.dir/main.cpp.o：in the function‘std::default_delete<OsqpEigen::Settings>::operator()(OsqpEigen::Settings*) const’：
main.cpp:(.text._ZNKSt14default_deleteIN9OsqpEigen8SettingsEEclEPS1_[_ZNKSt14default_deleteIN9OsqpEigen8SettingsEEclEPS1_]+0x1e)：‘Osqp

[2021-01-11 13:45] S-Dafarra commented on #80
Hi @lovebugayy, could you provide us with more information, like the OS in which you are running, the version you are using, or the application you are running?

[2021-01-12 09:16] GiulioRomualdi commented on #80
Hi @lovebugayy I also suggest you use the following markdown block when you copy the code

\```
code you want to show
\```

and it will display as
[code]

---
[code]

[2021-01-13 02:08] lovebugayy commented on #80
Hi, thanks you advise. In face it's a very simple code. When i use the class OsqpEigen, errors occur, it shows an undefined reference. but i don't know why,

[2021-02-01 12:37] tombelv opened #81 "Segmentation fault (core dumped) on MPCExample"
Hi, I've just [installed](https://github.com/robotology/osqp-eigen#linux--macos) osqp-eigen and tried to run the example, which compiles fine but does not run.
In particular I get a segmentation fault when calling

`solver.initSolver()`

on line

https://github.com/robotology/osqp-eigen/blob/64cfeb69d9d3669019c55e07af3e69522569297f/example/src/MPCExample.cpp#L267

My system is based on Ubuntu 20.0

[2021-02-01 12:50] S-Dafarra commented on #81
Hi @tombelv, thanks for reporting this.

Can you try running the tests compiling in ``DEBUG`` mode to see if we can get more information?

cc @GiulioRomualdi

[2021-02-01 13:06] tombelv commented on #81
I'm a beginner at CMake so I apologize if I'm doing something wrong, but running
[code]

I get the same result

[2021-02-01 13:39] S-Dafarra commented on #81
No need to apologize :wink: I have quickly checked on my setup (running Ubuntu 20.04) but I could not replicate it.
Can you try to install ``valgrind`` with ``sudo apt install valgrind`` and then run one of the tests using ``valgrind``, e.g.
[code]
and attach here the output.
That could tell us a bit more about what may be causing the segmentation fault.

[2021-02-01 13:43] tombelv commented on #81
Here is the output
[code]

[2021-02-01 13:49] S-Dafarra commented on #81
Interestingly, it seems to link to the ``osqp`` version in the ``acados`` folder. See for example
[code]
I suspect you may have two ``osqp`` versions in your system.

[2021-02-01 13:53] S-Dafarra commented on #81
Indeed, ``acados`` seems to be using a pretty old version of ``osqp``. See https://github.com/acados/acados/tree/master/external.
When compiling, ``OsqpEigen`` finds the new version, while when running the tests the linker finds the old version in the ``acados`` folder.

cc @traversaro

[2021-02-01 13:58] tombelv commented on #81
Nice catch, it is true that I also have acados installed which came with its own osqp version (although I haven't even used it with osqp), so indeed this is a problem with my setup.

That acados folder should be at the bottom of my `LD_LIBRARY_PATH` so I thought that the system wide installation of osqp would be found first, but it doesn't seem to be the case.

I've removed it from the acados fold

[2021-02-01 13:58] #81 closed

[2021-02-01 14:00] S-Dafarra commented on #81
Awesome! You are welcome!

[2021-02-17 19:05] nikolaif399 opened #82 "Weird constraint behavior when implementing simple bounds"
I'm seeing some odd behavior with OSQP when adding simple bounds to an MPC problem. I'm trying to add lower and upper bounds to the control input in the form of f_min <= u <= fmax. I'm adding an appropriately sized identity matrix to the constraint matrix and the vectorized version of f_min and f_max to the lower and upper bound matrices respectively. When I set these bounds to -OsqpEigen::Infty a

[2021-02-17 21:01] S-Dafarra commented on #82
Hi @nikolaif399, thanks for reporting this. Indeed, this seems strange. A MWE would be great to debug the problem, also because the issue might be on the problem itself (the cost function might be flat so every feasible point is also optimal), on the method (e.g. related to the solver internal machinery), or on the code (some unitialized memory maybe). So basically any additional information might

[2021-02-17 22:26] nikolaif399 commented on #82
Hi @S-Dafarra, thanks for getting back to me so quickly! I've put together a MWE, but in the process of doing so I've discovered that you were right about the flatness of my cost function in the optimal region. I assume I can correct this by dramatically increasing the magnitude of my weights, but I would prefer to tweak the appropriate solver convergence settings instead, could you recommend whic

[2021-02-18 02:01] nikolaif399 commented on #82
The difference between using infinite bounds and finite, but still wide enough bounds is minimal in this example, but larger on my full order model. This may not be a problem for my application and as said above I believe I can play with the weights to work around it, but I'm struggling to understand why adding an inactive constraint has any influence at all on the optimum found. Hopefully I'm ove

[2021-02-18 13:48] S-Dafarra commented on #82
Hi @nikolaif399, thanks for the kind words! I am happy that we have found a possible culprit. In case you need some specific advice on the solver settings, I would suggest you to open an issue directly on the [``osqp``](https://github.com/oxfordcontrol/osqp) repo. ``osqp-eigen`` is just a C++ interface for the C API of that solver.

If you encounter any missing flag or functionality, feel free to

[2021-02-20 16:35] nikolaif399 commented on #82
We've finally managed to figure this one out. We were setting all control bounds but one to be -inf -> inf, but when we reset this to -1000 to 1000 for each variable the problem went away. I'm guessing this has something to do with either variable initialization or some odd scaling step that happens inside OSQP. Lesson learned is to not use simple constraints with infinite bounds.

[2021-02-20 16:35] #82 closed

[2021-03-11 16:19] GiulioRomualdi opened #84 "Solve unconstrained optimization problems"
This issue shows how to set `osqp-eigen` to solve an unconstrained optimization problem

We now want to solve the following optimization problem

<center><img src="https://user-images.githubusercontent.com/16744101/110816898-0f614f80-828c-11eb-8324-023fe41caa1e.png" alt="qp" width="200" center="true"></center>

The solution of the problem is `x = [0 0]`

`osqp-eigen` can be used to solve the probl

[2021-03-11 16:57] S-Dafarra commented on #84
Just to understand, what is the output if you add no constraints at all?

[2021-03-11 16:59] GiulioRomualdi commented on #84
[code]

[2021-03-11 17:06] S-Dafarra commented on #84
Ok this sounds like a logical problem then. That should be easy to solve then. https://github.com/robotology/osqp-eigen/blob/9b0091038cf0fb9099a5d6c55820d6e5846034a7/src/Data.cpp#L88-L97

should become
[code]
right?

[2021-03-11 17:07] GiulioRomualdi commented on #84
I don't know if it's so simple (We should investigate the side effects)

[2021-03-11 17:10] S-Dafarra commented on #84
In any case, I think that it does not make sense to require the constraint matrix to be set if there are no constraints. If something else breaks, we shall fix it as well :grin:

Could you add the unconstrained problem as a test case?

[2021-03-11 21:08] GiulioRomualdi commented on #84
I agree

[2021-03-12 16:56] traversaro opened #85 "Forward merge master to devel"
@GiulioRomualdi can you forward merge master to devel? The Unstable branches of the superbuild seems to be broken otherwise: https://github.com/robotology/robotology-superbuild/runs/2091673792?check_suite_focus=true .

[2021-03-13 11:01] traversaro commented on #85
Apparently devel is not going to be updated anymore, see https://github.com/robotology/robotology-superbuild/pull/655 .

[2021-03-20 13:29] GiulioRomualdi commented on #85
Since  robotology/robotology-superbuild#655 has been merged, I deleted the devel branch

[2021-03-20 13:29] #85 closed

[2021-03-22 22:36] GiulioRomualdi commented on #84
Related issue https://github.com/oxfordcontrol/osqp/issues/295

[2021-03-23 08:13] S-Dafarra commented on #84
Ah, nice! So if it is also a limitation of ``osqp``, the solution you proposed in the OP seems the way to go then.

[2021-03-25 09:04] chenguoxi1987 opened #87 "how to set the initial value replacing the defaule default value"
how to set the initial value replacing the defaule default value

[2021-03-25 09:39] S-Dafarra commented on #87
Hi @chenguoxi1987, can you please specify which value you are referring to? Is it the initial guess?

[2021-03-25 11:30] chenguoxi1987 commented on #87
yes,it's the initial guess
how can set the initial guess

[2021-03-25 11:34] S-Dafarra commented on #87
You can use these methods: https://github.com/robotology/osqp-eigen/blob/9b0091038cf0fb9099a5d6c55820d6e5846034a7/include/OsqpEigen/Solver.hpp#L207-L215

The primal variables are probably what you are looking for (i.e. the initial guess for the optimization variables). The dual variables instead are the Lagrange multipliers. You can initialize also those if you have them (maybe from a previous run

[2021-03-25 12:01] chenguoxi1987 commented on #87
i try the setPrimalVariable,but "segmentation fault (core dumped)"

Eigen::Matrix<double,2,1> primavariable;
primavariable << 0.5,0.5;
solver.setPrimalVariable(primavariable);

[2021-03-25 12:28] chenguoxi1987 commented on #87
i try the setPrimalVariable,but "segmentation fault (core dumped)"

Eigen::Matrix<double,2,1> primavariable;
primavariable << 0.5,0.5;
solver.setPrimalVariable(primavariable);

[2021-03-25 12:29] chenguoxi1987 commented on #87
i try the setPrimalVariable,but "segmentation fault (core dumped)"

Eigen::Matrix<double,2,1> primavariable;
primavariable << 0.5,0.5;
solver.setPrimalVariable(primavariable);

[2021-03-25 18:27] S-Dafarra commented on #87
Ho @chenguoxi1987, it is pretty hard to figure out what is going wrong from those three lines. Can you provide some more information? Also, if you can share the code that is failing, it may help.

[2021-03-26 03:25] chenguoxi1987 commented on #87
thank you, I put the "solver.setPrimalVariable" command after the "solver.initSolver", and the problem was colsed。

[2021-03-26 08:19] S-Dafarra opened #88 "Several of the Solver methods may result in a segfault if the solver is not initialized"
See for example
https://github.com/robotology/osqp-eigen/blob/9b0091038cf0fb9099a5d6c55820d6e5846034a7/include/OsqpEigen/Solver.tpp#L215-L309

they all access to the workspace data, but that could not have been set yet.

cc @GiulioRomualdi

[2021-03-26 08:20] S-Dafarra commented on #87
Nice catch @chenguoxi1987, indeed this should not happen. I have opened #88 to fix this.

[2021-03-26 08:51] #84 closed

[2021-03-26 10:26] #88 closed

[2021-03-26 11:24] #87 closed

[2021-03-27 11:53] #74 closed

[2021-04-06 07:45] xinchu911 opened #90 "make error: "recipe for target 'CMakeFiles/OsqpEigen.dir/src/Solver.cpp.o' failed", osqp-eigen:v0.6.3, osqp:v0.6.2"
Scanning dependencies of target OsqpEigen
[ 40%] Building CXX object CMakeFiles/OsqpEigen.dir/src/Data.cpp.o
[ 40%] Building CXX object CMakeFiles/OsqpEigen.dir/src/Settings.cpp.o
[ 60%] Building CXX object CMakeFiles/OsqpEigen.dir/src/Solver.cpp.o
[ 80%] Building CXX object CMakeFiles/OsqpEigen.dir/src/Debug.cpp.o
In file included from /home/rgs/Downloads/osqp_e/osqp-eigen/src/Settings.cpp:8:0:
/

[2021-04-06 08:02] S-Dafarra commented on #90
Hi @xinchu911, thanks for opening the issue. The error is
[code]
In fact, ``make_unique`` has been implemented on ``gcc`` starting from the 4.9 version: https://gcc.gnu.org/gcc-4.9/changes.html

You can try to install ``gcc-5`` to check if that fixes the issue (provided that you are ok in updating your ``gcc`` version).

[2021-04-06 08:58] xinchu911 commented on #90
After I switched to gcc-5, make process succeeded. Thanks a lot, particularlly for quick response.

[2021-04-06 08:58] #90 closed

[2021-04-14 06:22] ZhenshengLee opened #92 "Any plan to support cuosqp?"
Hi everyone,

[osqp for cuda](https://github.com/oxfordcontrol/osqp/tree/cuda-1.0) has been released for a year.

It provides [python api](https://github.com/oxfordcontrol/cuosqp) and the backend is a branch of osqp main repo.

Any plan to support cuosqp?

thanks.

[2021-04-14 06:51] S-Dafarra commented on #92
Hi @ZhenshengLee, thanks for opening the issue. ``osqp-eigen`` is meant to be an interface to use ``osqp`` in C++ using ``eigen`` objects. If you are interested in the ``python`` API I would suggest to use directly the one provided with ``osqp``.

For what concerns the ``cuda`` support, I think we never tested it on our side. On the other hand, as far as I understood, ``osqp`` started supporting `

[2021-04-14 07:01] traversaro commented on #92
To complement what @S-Dafarra wrote, I think a prerequisite of supporting/documenting explicitly this use case is that the use of OSQP with CUDA via the C interface is explicitly documented/supported in a released version of OSQP, I do not know if that is already the case or it is planned, perhaps @gbanjac or @bstellato are the right person to ask (I guess that the corresponding OSQP upstream issu

[2021-04-14 07:42] gbanjac commented on #92
CUDA support for OSQP implemented in `cuda-1.0` branch is not a part of any official release yet. It was built on top of `develop-1.0` branch that allows an easy transition between different implementations of linear algebra. OSQP with CUDA will be documented and supported once we have OSQP 1.0 version released. We don't know right now when this will happen.

[2021-04-14 07:42] traversaro commented on #92
Thanks a lot for the quick response @gbanjac .

[2021-04-14 07:44] ZhenshengLee commented on #92
some data structure has been changed due to  cuda interface

- `OSQPWorkspace` is replaced with `OSQPSolver`

- `OSQPData` is removed, and data injection is through `csc_set_data` and `osqp_setup`

- many `csc` related memory allocator functions are removed.

I understand that the version of cuda was not released, and the api may not be stable, even I guess the development of this branch was stopp

[2021-04-14 08:26] S-Dafarra commented on #92
I am not sure if those differences are functional, or the result of a divergence between the released version and the ``cuda`` branch. In this case, maintaining the interface to be compatible with both versions would be problematic.

I think we will wait for the official release before supporting it as well.

[2021-04-14 08:47] ZhenshengLee commented on #92
Understood, thanks!

[2021-04-23 19:46] dhruvthanki commented on #77
I tried building the library on Windows. Used 'cmake --build . --config Release' instead of make. Got the following error. How do I solve this.
![osqp-eigen](https://user-images.githubusercontent.com/31178720/115922557-0cd94480-a44b-11eb-9763-2148a1ee098f.png)

[2021-04-23 20:00] S-Dafarra commented on #77
Hi @dhruvthanki there seems to be a linking problem with osqp. Did ``osqp`` compile correctly? What is the ``cmake`` output?

[2021-04-23 20:10] dhruvthanki commented on #77
I am able to include osqp.h in my project. but it path is: "C:\Program Files (x86)\osqp", not x65. Picture below is osqp-eigen "cmake ../" result:
![osqp-eigen-2](https://user-images.githubusercontent.com/31178720/115924804-3ba4ea00-a44e-11eb-89f5-bc9a3fe54f28.png)

[2021-04-24 09:00] S-Dafarra commented on #77
Unfortunately that output does not tell much. My guess is that ``cmake`` is able to find ``ospq.h``, but not the library. Did you modify some paths manually?

Also, I would ask tou to open a new issue since this does not seem to be related to the OP, and this is already closed.

[2021-04-24 09:37] traversaro commented on #77
In the new issue that @S-Dafarra suggested to open, please provide the exact commands that you used to install osqp, thanks.

[2021-04-24 17:56] dhruvthanki opened #93 "Cant instantiate the solver; "OsqpEigen::Solver solver""
I am able to compile and run the "osqp" example problems from their website. I am able to include the OsqpEigen.h in my project. When I just instantiate the solver using the wrapper, I am able to build and run the .exe but no output that I was expecting is generated. Just builds and runs with zero errors and nothing happens.
[code]

[2021-04-24 17:59] dhruvthanki commented on #93
This is my CmakeLists.txt file:
[code]

[2021-04-24 18:04] dhruvthanki commented on #93
This is how I build the wrapper:
[code]

[2021-04-24 18:14] S-Dafarra commented on #93
Hi @dhruvthanki, thanks for the issue. Just to understand, what does your program print? The Solver object does not print anything and it is supposed to do nothing until you set the problem and call the solve method.

[2021-04-24 18:18] dhruvthanki commented on #93
So if I just compile and run the above code, should it print the following in the terminal or not?
[code]

[2021-04-24 18:21] S-Dafarra commented on #93
I think so! Does it get stuck before?

[2021-04-24 18:27] dhruvthanki commented on #93
If I run it without instantiating the solver in the main, I get the first output. If I run it with the instantiation, I get the second output:
![111111](https://user-images.githubusercontent.com/31178720/115969071-188b4080-a509-11eb-948b-e8d461e2bd16.png)

[2021-04-24 19:50] S-Dafarra commented on #93
Ok, that seems to be crashing then.
I wonder if that is because you are linking also ``osqpstatic``. OsqpEigen is already linking osqp. Can you try to not link to ``osqpStatic``?

If that is not the case, can you try to launch the tests of ``OsqpEigen``?

[2021-04-24 20:09] dhruvthanki commented on #93
I build the MPCExample and launched the MPCExample.exe. No Error while building, no error while running.
![2222222](https://user-images.githubusercontent.com/31178720/115971609-63ac5000-a517-11eb-9e44-49afe1f29fa8.png)

[2021-04-25 20:26] traversaro commented on #93
Can you try to avoid linking the `osqp::osqpstatic` target? As @S-Dafarra mentioned, `OsqpEigen::OsqpEigen` already links the shared target `osqp::osqp`, and mixing the two can create strange behaviors.

[2021-04-26 07:15] S-Dafarra commented on #93
If also the example crashes, I think that ``OsqpEigen`` did not compile correctly. Can you list the commands you used to compile ``osqp`` and ``OsqpEigen``, as suggested in https://github.com/robotology/osqp-eigen/issues/77#issuecomment-826065428? Probably it would be better to start with some clean builds. Also, make sure you don't have any other ``osqp`` installations on your system. Some projec

[2021-05-07 04:02] #92 closed

[2021-05-20 11:05] traversaro opened #97 "Clarify Data class methods semantics"
Content to be added, opening it just as a remainder.

[2021-05-21 13:01] GiulioRomualdi opened #98 "Provide conda-forge package for osqp-eigen"
osqp-eigen can be now easily installed using coda
[code]
Since [`osqp` ](https://anaconda.org/conda-forge/osqp) (please check [here](https://github.com/conda-forge/osqp-feedstock)) is already provided in `conda-forge` and `osqp-eigen` is not only used by the `robotology` community, I think it makes sense to move the receipt in `conda-forge`.

cc @traversaro

[2021-05-21 13:31] traversaro commented on #98
Good idea! The more conda packages we move from the robotology-superbuild to conda-forge, the easier is to mantain the packages that it remains (for example, in https://github.com/robotology/robotology-superbuild/pull/749 the conda package generation pipeline take 4 hours, making debug not obvious).

Things to do:
* Before submitting the recipe, we need to decide on an ABI policy for osqp-eigen, a

[2021-05-21 13:59] traversaro commented on #98
One small comment: `osqp` is the Python package, the C package is `libosqp` (https://github.com/conda-forge/libosqp-feedstock).

[2021-05-23 13:01] traversaro commented on #97
This is already documented:
[code]

I was affected by a bug in which I was passing a temporary Eigen vector to `setBounds` in https://github.com/robotology/wb-toolbox/pull/209, but apparently this is correctly document, even if a bit surprising, but I guess the copies are avoided for performances reason.

[2021-05-23 13:01] #97 closed

[2021-05-26 10:06] GiulioRomualdi commented on #98
I just checked the [semantic versioning](https://semver.org/)  specification and there seems no mention on ABI. [Here](https://stackoverflow.com/questions/30548927/does-semantic-versioning-apply-to-source-or-binary-compatibility) they suggest changing the major version even if the ABI are broken.

So in conclusion we can release `1.0.0` and apply the following rule
1. Version 1.0.0 defines the pub

[2021-05-30 10:34] traversaro commented on #98
Apparently moving this to conda-forge may be a good idea indeed, as `osqp-eigen` is start being used as a dependency in project outside of robotology that are being packaged in conda as well, see https://github.com/ros-industrial-consortium/tesseract/issues/419 .

[2021-05-30 10:40] traversaro commented on #98
Note that for now for simplicify we can just start to just assume that ABI is broken at each patch release (as it happens in many libraries even widely used in robotics, see for example OpenCV https://github.com/conda-forge/opencv-feedstock/blob/246ffa4db0ca7348e9f3e7c20994aacedcdb8ba1/recipe/meta.yaml#L51 or boost https://github.com/conda-forge/pcl-feedstock/blob/master/recipe/meta.yaml#L44 ). Do

[2021-05-31 09:41] GiulioRomualdi commented on #98
Associated issue https://github.com/conda-forge/staged-recipes/issues/15080

[2021-06-16 10:41] GiulioRomualdi commented on #98
Related PR:  conda-forge/staged-recipes#15309

[2021-06-24 06:27] #98 closed

[2021-07-06 05:59] mzahana commented on #71
@Richard-LXA Did you find a solution to this issue?

[2021-07-06 06:29] traversaro commented on #71
Hi @mzahana, if you have any problem feel free to open a new issue, thanks!

[2021-07-29 00:52] dashenyjn123 opened #102 "cannot convert ‘OSQPWorkspace**’ to ‘const OSQPData*"

[2021-07-29 14:02] S-Dafarra commented on #102
Hi @dashenyjn123 could you give us some details? From the title only it is really impossible to understand what is going on

[2021-07-29 20:35] GiulioRomualdi commented on #102
Hi @dashenyjn123 noticed that [`OSQPData`](https://osqp.org/docs/interfaces/cc++#_CPPv48OSQPData) and [`OSQPWorkspace`](https://osqp.org/docs/interfaces/cc++#_CPPv413OSQPWorkspace) are two different entities.
osqp-eigen generates a workspace when the `initSolver` method is called.

https://github.com/robotology/osqp-eigen/blob/c01c310834b749533c63c8c829eab0cde3544d11/src/Solver.cpp#L101-L107

[2021-08-11 07:56] Czworldy opened #103 "when i add osqpeigen to my project i can't make it"
i meet
**undefined reference to `OsqpEigen::Solver::lu_solve()'
collect2: error: ld returned 1 exit status**
in my project.

but when i try to make the MPCexample, it succeed and can solve correctly

[2021-08-11 09:12] S-Dafarra commented on #103
Hi @Czworldy could you please add some details on how to reproduce your problem? The error is also interesting since we have no method called `lu_solve()' in the ``Solver`` class. Did you edit the code?

[2021-08-11 11:23] Czworldy commented on #103
Hi, @S-Dafarra thanks, i find that lu_solve() is a method in another QP Sovler Quadprog++ , which i also used in my project,.Quadprog++ has this one in its codes:
**#define solve lu_solve**
so when i use OsqpEigen::Sovler.solve() the complier come to find OsqpEigen::Sovler.lu_solve() and it makes mistake.

[2021-08-11 11:29] Czworldy commented on #103
But i still have a question:
when i build my project, i meet:
**/usr/bin/ld: cannot find -lEigen3::Eigen
collect2: error: ld returned 1 exit status**
but the eigen has been installed corrently. what does this mean?
by the way,  if i remove OsqpEigen from my project, it works well but as long as i add it, it gives me that information.

[2021-08-11 11:31] Czworldy commented on #103
full message:
[ 98%] Linking CXX executable /home/yjy/catkin_ws/devel/lib/jy_control_test/test_model
/usr/bin/ld: cannot find -lEigen3::Eigen
collect2: error: ld returned 1 exit status
Jueying_description/jy_control_test/CMakeFiles/test_model.dir/build.make:143: recipe for target '/home/yjy/catkin_ws/devel/lib/jy_control_test/test_model' failed
make[2]: *** [/home/yjy/catkin_ws/devel/lib/jy_contro

[2021-08-11 12:31] Czworldy commented on #103
and i try eigen 3.3.8 and 3.3.9

[2021-08-11 12:58] S-Dafarra commented on #103
That's definitely the problem, nice catch.

Regarding

when i build my project, i meet:
/usr/bin/ld: cannot find -lEigen3::Eigen
collect2: error: ld returned 1 exit status
but the eigen has been installed corrently. what does this mean?
by the way, if i remove OsqpEigen from my project, it works well but as long as i add it, it gives me that information.

if you managed to compile correctly ``Osqp

[2021-08-11 13:28] Czworldy commented on #103
Hi @S-Dafarra  thanks a lot
https://stackoverflow.com/questions/53991812/cmake-find-package-not-working-for-eigen
this is what i need.

[2021-08-11 13:28] #103 closed

[2021-11-09 10:03] tmacattank opened #107 "Why the solver returns "the problem is non-convex" or " solve successfull""
I am now using quadratic programming to solve a trajectory planning problem, and the test scenario is to overtake a vehicle. I try OSQP diresctly and OSQP eigen. OSQP works well, while when i use osqp eigen, sometimes it works well, sometimes it suddenly return "the problem is non-convex" or "solve unccessful". I check the error code from OSQP, and only when the Hessian matrix is not positive defi

[2021-11-09 10:09] GiulioRomualdi commented on #107
Hi @tmacattank. Could you please give us a minimum example that we can use to better debug the problem?

[2021-11-09 10:17] tmacattank commented on #107
I am using an online simulation platform based on ROS to develop the algorithm, I will try to find an easy way so that you can run my code

[2021-12-01 05:47] mzahana opened #108 "References to the MPC Example"
Hi!
I am looking for a reference for the included [MPC example](https://github.com/robotology/osqp-eigen/blob/master/example/src/MPCExample.cpp)

@GiulioRomualdi any hints on the system that correspond to the that example?

Thanks.

[2021-12-01 16:35] GiulioRomualdi commented on #108
Hi @mzahana. I just write in C++ the [example](https://osqp.org/docs/examples/mpc.html) presented by the main `osqp` developers

[2021-12-16 17:33] GiulioRomualdi opened #110 "Avoid to return false if `m_workspace->info->status_val` is different from `OSQP_SOLVED`"
https://github.com/robotology/osqp-eigen/blob/aa93af14ad8314d768ef033e357b04828100dfa8/src/Solver.cpp#L144-L149

This is quite limiting since osqp handles several types of exit status

https://osqp.org/docs/interfaces/status_values.html

[2021-12-19 19:32] #110 closed

[2022-02-28 12:26] Syk-yr opened #114 "In the QP problem solving, why the lower triangular matrix using the same data can be solved successfully, but the solution of the upper triangular matrix fails"
In the QP problem solving, why the lower triangular matrix using the same data can be solved successfully, but the solution of the upper triangular matrix fails

[2022-02-28 12:28] Syk-yr commented on #114
Matrix P=[
2 0 0 0 0 0 0 0 0 0 0 0
0 2 0 0 0 0 0 0 0 0 0 0
0 0 2 0 0 0 0 0 0 0 0 0
0 0 0 2 0 0 0 0 0 0 0 0
0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 1 0 0 0 0 0 0
0 0 0 0 0 0 1 0 0 0 0 0
0 0 0 0 0 0 0 1 0 0 0 0
0 0 0 0 0 0 0 0 26 -50 0 0
0 0 0 0 0 0 0 0 0 51 -50 0
0 0 0 0 0 0 0 0 0 0 51 -50
0 0 0 0 0 0 0 0 0 0 0 26 ]

[2022-02-28 12:30] Syk-yr commented on #114
Matrix P=[
2 0 0 0 0 0 0 0 0 0 0 0
0 2 0 0 0 0 0 0 0 0 0 0
0 0 2 0 0 0 0 0 0 0 0 0
0 0 0 2 0 0 0 0 0 0 0 0
0 0 0 0 1 0 0 0 0 0 0 0
0 0 0 0 0 1 0 0 0 0 0 0
0 0 0 0 0 0 1 0 0 0 0 0
0 0 0 0 0 0 0 1 0 0 0 0
0 0 0 0 0 0 0 0 26 -50 0 0
0 0 0 0 0 0 0 0 0 51 -50 0
0 0 0 0 0 0 0 0 0 0 51 -50
0 0 0 0 0 0 0 0 0 0 0 26 ]

[2022-03-03 16:09] S-Dafarra commented on #114
Hy @Syk-yr, thanks for opening the issue. Just to make sure we are aligned, is the matrix P the cost hessian?

[2022-03-03 16:27] S-Dafarra commented on #114
Note that you can obtain the symmetric version of the matrix you have in https://github.com/robotology/osqp-eigen/issues/114#issuecomment-1054208677 by doing (P + P')/2, obtaining
[code]
That is positive definite.

[2022-03-04 06:06] Syk-yr commented on #114
Thank you very much for your answer, I see where my mistake is.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Stefano ***@***.***&gt;;
发送时间: 2022年3月4日(星期五) 凌晨0:27
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [robotology/osqp-eigen]  In the QP problem solving, why the lower triangular matrix using the same data can be solved successfully, but the solution of the

[2022-03-04 08:22] #114 closed

[2022-03-11 16:33] mhubii opened #115 "Make AddUninstallTarget FetchContent / add_subdirectory friendly"
I believe this issue robotology/ycm#169 is an issue here as well.

[2022-03-11 17:03] mhubii opened #116 "Header files added to library"
Why are the header files added to the library target? https://github.com/robotology/osqp-eigen/blob/83812bd0a56bbb656cac7016b307845e4a0ed11e/CMakeLists.txt#L108

Should the location of these headers
https://github.com/robotology/osqp-eigen/blob/83812bd0a56bbb656cac7016b307845e4a0ed11e/CMakeLists.txt#L96
not be prefixed with the current source dir, ie `${CMAKE_CURRENT_SOURCE_DIR}`? Because otherwis

[2022-03-11 18:26] traversaro commented on #116
Mainly for users of ÍDEs to have the headers file listed as part of the target. What is the problem of having the header files added in the target?

In all the cases we ever had it was not necessary to prefix the files with `${CMAKE_CURRENT_SOURCE_DIR}`, even for libraries that we use with FetchContent (for example https://github.com/robotology/idyntree/blob/59b2a6186c5011c1d9f35784fced816654602cb

[2022-03-14 09:19] mhubii commented on #116
there is no problem associated with it, but don't understand the necessity for it. But no worries. Just curious.

two wrong doesn't make one right. This error occurs when you fetch `osqp-eigen` as part of a `colcon` build in ROS2.

[2022-03-14 09:24] traversaro commented on #116
I just mentioned one case that was working fine with FetchContent, so I do not see anything "wrong" here. It is also great if you could keep a positive attitude while discussing here, thanks! :D

@traversaro

Can you provide a way to reproduce for the error? If that is complex, can you provide at least the error that you are having? Thanks!

[2022-03-14 09:26] traversaro commented on #116
If the issue is not related to the header files added to library, probably we can rename it?

[2022-03-14 09:27] mhubii commented on #116
yes sorry, I am under a lot of pressure recently, and have to finish up some things. Thanks for providing this project in the first place! I'll try to provide you with a minimal example, but would have to dig deeper to understand what is happening in detail. One second

[2022-03-14 09:34] traversaro commented on #116
Sure, no problem.

Even without a minimal example, having the cmake/colcon output with the error is already quite useful.

[2022-03-14 09:48] mhubii commented on #116
here are the steps to re-produce
[code]
the error should be something like
[code]
not that #115 is already fixed in this `osqp-eigen` fork.

[2022-03-14 10:11] traversaro commented on #116
I suspect that the problem is in https://github.com/mhubii/osqp_vendor/blob/header-fault/osqp_eigen_vendor/CMakeLists.txt#L24 . You are installing **again** `OsqpEigen` target that is already installed in https://github.com/robotology/osqp-eigen/blob/255305d8c6fd999db66745cef4758d75cbfa61ba/CMakeLists.txt#L130 . A possible alternative strategy is to define your own target and just make sure that i

[2022-03-14 11:34] mhubii commented on #116
okay will do, thanks

[2022-03-14 11:34] #116 closed

[2022-03-15 14:43] mhubii commented on #116
actually this doesn't work. On compilation the following error is thrown

[code]

[2022-03-15 15:30] traversaro commented on #116
Strange, the `/tmp/ws/install/osqp_eigen_vendor/share/osqp_eigen_vendor/cmake/osqp_eigen_vendorConfig.cmake` file should contain the `find_package(OsqpEigen)` that should define that target.

[2022-04-13 03:30] reflector-li opened #118 "osqp-eigen compiled successfully, but example test failed."
I want to use osqp-eigen on windows 11, and I have already installed and tested Eigen3.4.0 and osqp0.6.2 which ran normally. However, When I compiled and installed osqp-eigen successfully, I want to test it using MPCExample.cpp and it failed with the following error:
[code]
The CMakeLists.txt I used for the example is
[code]
I installed osqp to customized path, so I declare it on `find_packages()`

[2022-04-13 10:00] S-Dafarra commented on #118
Hi @reflector-li, thanks for opening the issue. I suspect it might be related to a setup issue. Can you try to add the path where you installed ``OsqpEigen`` to the Windows PATH env variable?

[2022-04-13 15:49] reflector-li commented on #118
Thank you very much.! I use MinGW as my complile enviroment. It remind that libosqp-eigen.dll can not be found. So I compile it with my cmake configuration. Now I can use it. I will post the CMakeLists.txt I use to help someone who met the same problem with me.
[code]

[2022-04-27 11:01] zmwhit commented on #81
Helpful! I meet just the same problem! damn acados :)

[2022-05-21 16:03] #118 closed

[2022-05-21 16:06] GiulioRomualdi commented on #118
Hi @reflector-li, I closed the issue since according to https://github.com/robotology/osqp-eigen/issues/118#issuecomment-1098213601 it seems that you were able to have a working  setup. Please do not hesitate to open it again if I misunderstood

[2022-06-02 03:11] SkelonChan opened #119 "no members matching ‘Eigen::TriangularView<const Eigen::SparseMatrix<double, 0, int>,"
when i use the ospqeigen in ros,to solve qp problem,it occured error
`
   Eigen::SparseMatrix<double> hh;
    hh.resize(6,6);
    hh.insert(0,0) = 1;
    hh.insert(1,0) = 1;
....
    hh.insert(1,5) = 1;
    hh.insert(2,5) = 1;
    hh.insert(3,5) = 1;
    hh.insert(4,5) = 1;
    hh.insert(5,5) = 1;
    solver.data()->setHessianMatrix(hh);
    solver.data()->setGradient(gradient);
    solver.data()-

[2022-06-06 00:44] #119 closed

[2022-06-06 20:27] traversaro commented on #119
Hi @SkelonChan, did you solved the problem? If that is the case, it may be convenient if you share your solution, to avoid situations such as https://xkcd.com/979/ . :D

[2022-06-12 19:47] Neotriple opened #121 "Simple question on building and running tests"
Hi there,

Just wanted to know how to run the tests in the tests folder when building. I tried running

`make test` however, received an error stating:

[code]

Sorry for such a simple question.

[2022-06-13 08:10] traversaro commented on #121
Hi @Neotriple, `osqp-eigen` follows the typical practice of CMake project w.r.t. to testing, so to enable and run tests you need to configure the CMake project with `-DBUILD_TESTING:BOOL=ON`, and then run the tests (assuming you are using make) with `make test` or `ctest .`.
You can check an example of how this is done in GitHub Actions: https://github.com/robotology/osqp-eigen/blob/a5ba242ee8263d

[2022-06-20 11:20] SkelonChan commented on #119
the reason is  Header file conflict,too difficult to find it

[2022-06-20 13:16] traversaro commented on #119
Ok, thanks anyway!

[2022-10-25 23:41] traversaro commented on #29
Thanks @stribor14 ! Given that you found your solution, I think we can close the issue.

[2022-10-25 23:41] #29 closed

[2022-11-09 10:59] traversaro commented on #121
Hello @Neotriple, feel free to comment further if you need more info, in the meanwhile I will close the issue.

[2022-11-09 10:59] #121 closed

[2022-11-19 12:31] jcarpent opened #127 "New release"
Following #126, it would be nice to get a new release of OSQP-EIGEN mainly for https://github.com/stack-of-tasks/tsid/tree/devel.
@traversaro @GiulioRomualdi do you have a timeline in mind?

Thanks in advance for your help,
Best,

Justin

[2022-11-19 18:12] GiulioRomualdi commented on #127
Hi @jcarpent I can create a new release on Monday. Is it fine with you?

[2022-11-19 18:12] jcarpent commented on #127
Sounds very perfect from my side. Thanks a lot.
Have a nice weekend!

[2022-11-21 17:29] GiulioRomualdi commented on #127
Hi @jcarpent, here you can find the new release: https://github.com/robotology/osqp-eigen/releases/tag/v0.8.0

[2022-11-21 17:30] jcarpent commented on #127
Super. Thanks a lot @GiulioRomualdi for this new release.

[2022-11-21 17:30] #127 closed

[2022-11-30 03:39] JulienRineau opened #128 "catkin_make error"

[2022-11-30 03:40] #128 closed

[2022-11-30 04:02] JulienRineau opened #129 "ROS catkin_make"
Hi I'm trying to make [this](https://github.com/ShuoYangRobotics/A1-QP-MPC-Controller) repo work without docker.
But even after installing osqp-eigen (from source and with conda) I obtain this error:
[code]
Does someone have an idea on how to solve this ?

[2022-11-30 08:29] S-Dafarra commented on #129
Hi @JulienRineau, thanks for the issue.

Could you please post here the steps you are following. That could give us a possibility to reproduce the issue.

[2022-11-30 19:30] JulienRineau commented on #129
Thank you @S-Dafarra. Here is what I have done:

1. [Create a ros workspace](https://wiki.ros.org/catkin/Tutorials/create_a_workspace) and copy past the [a1_cpp](https://github.com/ShuoYangRobotics/A1-QP-MPC-Controller/tree/main/src/a1_cpp) package in src
2. Try with conda: `conda install -c conda-forge osqp-eigen`
3. Try to build my ros workspace with `catkin_make` but obtain the above error
4. T